@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <span style="color:#0d6efd;">&#9670;</span> ProductLaunch
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/About">About</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Contact">Contact</NavLink>
                </li>
                <li class="nav-item ms-2">
                    <NavLink class="btn btn-primary btn-sm px-3" href="/SignUp">Sign Up</NavLink>
                </li>
                <li class="nav-item ms-2">
                    <NavLink class="btn btn-outline-secondary btn-sm px-3" href="/Login">Admin</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container" style="margin-top:80px; margin-bottom:40px;">
    @Body
</main>

<footer class="bg-dark text-secondary py-3 mt-auto">
    <div class="container text-center small">
        &copy; @DateTime.Now.Year ProductLaunch &mdash; School of Devops
    </div>
</footer>

<div id="blazor-error-ui" class="alert alert-danger" style="display:none; position:fixed; bottom:0; width:100%; z-index:9999;">
    An unhandled error has occurred.
    <a href="" class="alert-link">Reload</a>
    <a class="float-end dismiss" style="cursor:pointer;">&#x2715;</a>
</div>
